/*= UTILITIES */
/*? GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

#full-screen-bg{
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.my-filter{
    z-index: 2
}

/*? TEXT-COLORS */
.text-color-amaranth{
    color: #640606;
}

/*? BACKGROUND-COLORS */
.bg-color-amaranth{
    background-color: #640606;
}

.bg-color-light-dark{
    background-color: rgba(0, 0, 0, 0.5);
}

/*? TEXT-COLORS */
.font-14{
font-size: 14px;
}

/*= BODY */
/*? MAIN */
#filters > button{
    border: 1px solid #640606;
    font-size: 14px;
}

#menu{
    height: calc(100vh - 250px);
    overflow-y: auto;
    overflow-x: hidden;
}

#pizzas-types a.active{
    color: #495057;
    border: 1px solid #dee2e6;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
}
/* 
div.pizza-card{
    border: 1px solid #000;
} */